<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main :: main">
<meta charset="UTF-8">
<title></title>
</head>
<body class="sb-nav-fixed">
	<nav th:replace="fragments/header :: header"></nav>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav th:replace="fragments/sb-sidenav-menu :: side-menu"></nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">Plantilla</div>
			</main>

			<footer th:replace="fragments/footer :: footer"> </footer>
		</div>
	</div>
</body>
</html>